@mixin yeartitle($fontsize) {
  font-family: "yg-jalnan";
  color: #000;
  -webkit-text-stroke: 2px #fff;
  font-size: $fontsize;
}
@mixin bgset {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
@mixin fixmodal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}
