@charset "UTF-8";
:root {
  --main_color: #ffcf00;
  --sub-colorRed: #d01012;
  --sub-colorBlue: #18a8f1;
}
@import "_var";
@import "reset.min.css";
/* screens */
@import "screens/intro.css";
/* component */
@import "component/headerfooter.css";

/* font */
@font-face {
  font-family: "Gosanja";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/Gosanja.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* main fonts */
@font-face {
  font-family: "Gosanja";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/Gosanja.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "KOTRA_GOTHIC", "NanumSquare";
  cursor: url(../imgs/icon/bluecursor.cur), auto;
}
a,
button {
  cursor: url(../imgs/icon/pointer.cur), auto;
}
